:root {
    --greywhite: #EFF4F5;
    --lightseagreen: #78B6C2;
    --mediumseagreen: #3C818F;
    --darkseagreen: #14505C;
    --deepseagreen: #012B33;
}
body {
    background-color: var(--lightseagreen);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box {
    margin-top: 5%;
    width: 33%;
    height: 600px;
    background-color: #14505C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    margin-top: 15%;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: var(--greywhite);
    font-size: 30px;
}

hr {
    width: 65%;
    margin-top: -15px;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 18px;
    align-self: center;
    color: var(--greywhite);
    background-color: var(--mediumseagreen);
}

button:hover {
    background-color: var(--darkseagreen);
    color: var(--greywhite);
    border: 2px solid var(--mediumseagreen);
}

ul {
    height: 350px;
}

p {color: var(--greywhite)}